body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{

    width: 500px;
    max-width: 600 px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
    display:block;
    font-weight: bold;
    margin-top: 10px;


}
input,select,textarea{

    width: 200px;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
modelotbl,th, td {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #1a1919;
}